* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}


header {
    background-color: #333;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin-left: 20px;
}

header nav ul {
    list-style: none;
    display: flex;
    margin-right: 20px;
}

header nav ul li {
    margin-left: 20px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}

h1{
    text-align: center;
    font-size: 2rem;
    margin: 20px;
}

.Apperal-section {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 20px;
}

.Apperal {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 20px;
    margin: 15px;
    width: 250px;
}

.Apperal:hover {
    transform: translateY(-10px);
}

.Apperal img {
    max-width: 100%;
    border-radius: 8px;
}

.Apperal h2 {
    font-size: 1em;
    margin: 10px 0;
}

.Apperal p {
    font-size: 1em;
    color: #333;
    margin: 10px;
}

.Apperal button {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1em;
}

.Apperal button:hover {
    background-color: #555;
}


footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 40px;
}

